src/wsdl/api.demo.ezidebit.com.au/v3-5/nonpci.wsdl

<?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="NonPCIService" targetNamespace="https://px.ezidebit.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://tempuri.org/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://px.ezidebit.com.au/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:import namespace="http://tempuri.org/" location="https://api.demo.ezidebit.com.au/v3-5/nonpci?wsdl=wsdl0"/>
    <wsdl:types>
        <xsd:schema targetNamespace="https://px.ezidebit.com.au/Imports">
            <xsd:import schemaLocation="https://api.demo.ezidebit.com.au/v3-5/nonpci?xsd=xsd0" namespace="https://px.ezidebit.com.au/"/>
            <xsd:import schemaLocation="https://api.demo.ezidebit.com.au/v3-5/nonpci?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
            <xsd:import schemaLocation="https://api.demo.ezidebit.com.au/v3-5/nonpci?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ezidebit.PaymentExchange.V3_3.DataContracts"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="INonPCIService_AddCustomer_InputMessage">
        <wsdl:part name="parameters" element="tns:AddCustomer"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_AddCustomer_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddCustomerResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_EditCustomerDetails_InputMessage">
        <wsdl:part name="parameters" element="tns:EditCustomerDetails"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_EditCustomerDetails_OutputMessage">
        <wsdl:part name="parameters" element="tns:EditCustomerDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ChangeCustomerStatus_InputMessage">
        <wsdl:part name="parameters" element="tns:ChangeCustomerStatus"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ChangeCustomerStatus_OutputMessage">
        <wsdl:part name="parameters" element="tns:ChangeCustomerStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetCustomerDetails_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCustomerDetails"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetCustomerDetails_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCustomerDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_AddPayment_InputMessage">
        <wsdl:part name="parameters" element="tns:AddPayment"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_AddPayment_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_AddPaymentUnique_InputMessage">
        <wsdl:part name="parameters" element="tns:AddPaymentUnique"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_AddPaymentUnique_OutputMessage">
        <wsdl:part name="parameters" element="tns:AddPaymentUniqueResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_DeletePayment_InputMessage">
        <wsdl:part name="parameters" element="tns:DeletePayment"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_DeletePayment_OutputMessage">
        <wsdl:part name="parameters" element="tns:DeletePaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetScheduledPayments_InputMessage">
        <wsdl:part name="parameters" element="tns:GetScheduledPayments"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetScheduledPayments_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetScheduledPaymentsResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPaymentStatus_InputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentStatus"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPaymentStatus_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPaymentDetail_InputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentDetail"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPaymentDetail_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentDetailResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPaymentDetailPlusNextPaymentInfo_InputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentDetailPlusNextPaymentInfo"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPaymentDetailPlusNextPaymentInfo_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentDetailPlusNextPaymentInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPayments_InputMessage">
        <wsdl:part name="parameters" element="tns:GetPayments"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetPayments_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetPaymentsResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ChangeScheduledAmount_InputMessage">
        <wsdl:part name="parameters" element="tns:ChangeScheduledAmount"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ChangeScheduledAmount_OutputMessage">
        <wsdl:part name="parameters" element="tns:ChangeScheduledAmountResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_CreateSchedule_InputMessage">
        <wsdl:part name="parameters" element="tns:CreateSchedule"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_CreateSchedule_OutputMessage">
        <wsdl:part name="parameters" element="tns:CreateScheduleResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ClearSchedule_InputMessage">
        <wsdl:part name="parameters" element="tns:ClearSchedule"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ClearSchedule_OutputMessage">
        <wsdl:part name="parameters" element="tns:ClearScheduleResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ChangeScheduledDate_InputMessage">
        <wsdl:part name="parameters" element="tns:ChangeScheduledDate"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ChangeScheduledDate_OutputMessage">
        <wsdl:part name="parameters" element="tns:ChangeScheduledDateResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_TestFunction_InputMessage">
        <wsdl:part name="parameters" element="tns:TestFunction"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_TestFunction_OutputMessage">
        <wsdl:part name="parameters" element="tns:TestFunctionResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_IsBsbValid_InputMessage">
        <wsdl:part name="parameters" element="tns:IsBsbValid"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_IsBsbValid_OutputMessage">
        <wsdl:part name="parameters" element="tns:IsBsbValidResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_IsSystemLocked_InputMessage">
        <wsdl:part name="parameters" element="tns:IsSystemLocked"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_IsSystemLocked_OutputMessage">
        <wsdl:part name="parameters" element="tns:IsSystemLockedResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_PaymentExchangeVersion_InputMessage">
        <wsdl:part name="parameters" element="tns:PaymentExchangeVersion"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_PaymentExchangeVersion_OutputMessage">
        <wsdl:part name="parameters" element="tns:PaymentExchangeVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ProcessRefund_InputMessage">
        <wsdl:part name="parameters" element="tns:ProcessRefund"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_ProcessRefund_OutputMessage">
        <wsdl:part name="parameters" element="tns:ProcessRefundResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetBPayCRN_InputMessage">
        <wsdl:part name="parameters" element="tns:GetBPayCRN"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetBPayCRN_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetBPayCRNResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetCustomerFees_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCustomerFees"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetCustomerFees_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCustomerFeesResponse"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetCustomerList_InputMessage">
        <wsdl:part name="parameters" element="tns:GetCustomerList"/>
    </wsdl:message>
    <wsdl:message name="INonPCIService_GetCustomerList_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetCustomerListResponse"/>
    </wsdl:message>
    <wsdl:portType name="INonPCIService">
        <wsdl:operation name="AddCustomer">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/AddCustomer" message="tns:INonPCIService_AddCustomer_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/AddCustomerResponse" message="tns:INonPCIService_AddCustomer_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="EditCustomerDetails">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/EditCustomerDetails" message="tns:INonPCIService_EditCustomerDetails_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/EditCustomerDetailsResponse" message="tns:INonPCIService_EditCustomerDetails_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ChangeCustomerStatus">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ChangeCustomerStatus" message="tns:INonPCIService_ChangeCustomerStatus_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ChangeCustomerStatusResponse" message="tns:INonPCIService_ChangeCustomerStatus_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerDetails">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetCustomerDetails" message="tns:INonPCIService_GetCustomerDetails_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetCustomerDetailsResponse" message="tns:INonPCIService_GetCustomerDetails_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AddPayment">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/AddPayment" message="tns:INonPCIService_AddPayment_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/AddPaymentResponse" message="tns:INonPCIService_AddPayment_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AddPaymentUnique">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/AddPaymentUnique" message="tns:INonPCIService_AddPaymentUnique_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/AddPaymentUniqueResponse" message="tns:INonPCIService_AddPaymentUnique_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="DeletePayment">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/DeletePayment" message="tns:INonPCIService_DeletePayment_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/DeletePaymentResponse" message="tns:INonPCIService_DeletePayment_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetScheduledPayments">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetScheduledPayments" message="tns:INonPCIService_GetScheduledPayments_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetScheduledPaymentsResponse" message="tns:INonPCIService_GetScheduledPayments_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentStatus">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentStatus" message="tns:INonPCIService_GetPaymentStatus_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentStatusResponse" message="tns:INonPCIService_GetPaymentStatus_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentDetail">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentDetail" message="tns:INonPCIService_GetPaymentDetail_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentDetailResponse" message="tns:INonPCIService_GetPaymentDetail_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetPaymentDetailPlusNextPaymentInfo">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentDetailPlusNextPaymentInfo" message="tns:INonPCIService_GetPaymentDetailPlusNextPaymentInfo_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentDetailPlusNextPaymentInfoResponse" message="tns:INonPCIService_GetPaymentDetailPlusNextPaymentInfo_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetPayments">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPayments" message="tns:INonPCIService_GetPayments_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetPaymentsResponse" message="tns:INonPCIService_GetPayments_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ChangeScheduledAmount">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ChangeScheduledAmount" message="tns:INonPCIService_ChangeScheduledAmount_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ChangeScheduledAmountResponse" message="tns:INonPCIService_ChangeScheduledAmount_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CreateSchedule">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/CreateSchedule" message="tns:INonPCIService_CreateSchedule_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/CreateScheduleResponse" message="tns:INonPCIService_CreateSchedule_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ClearSchedule">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ClearSchedule" message="tns:INonPCIService_ClearSchedule_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ClearScheduleResponse" message="tns:INonPCIService_ClearSchedule_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ChangeScheduledDate">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ChangeScheduledDate" message="tns:INonPCIService_ChangeScheduledDate_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ChangeScheduledDateResponse" message="tns:INonPCIService_ChangeScheduledDate_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TestFunction">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/TestFunction" message="tns:INonPCIService_TestFunction_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/TestFunctionResponse" message="tns:INonPCIService_TestFunction_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="IsBsbValid">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/IsBsbValid" message="tns:INonPCIService_IsBsbValid_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/IsBsbValidResponse" message="tns:INonPCIService_IsBsbValid_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="IsSystemLocked">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/IsSystemLocked" message="tns:INonPCIService_IsSystemLocked_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/IsSystemLockedResponse" message="tns:INonPCIService_IsSystemLocked_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PaymentExchangeVersion">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/PaymentExchangeVersion" message="tns:INonPCIService_PaymentExchangeVersion_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/PaymentExchangeVersionResponse" message="tns:INonPCIService_PaymentExchangeVersion_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProcessRefund">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ProcessRefund" message="tns:INonPCIService_ProcessRefund_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/ProcessRefundResponse" message="tns:INonPCIService_ProcessRefund_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetBPayCRN">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetBPayCRN" message="tns:INonPCIService_GetBPayCRN_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetBPayCRNResponse" message="tns:INonPCIService_GetBPayCRN_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerFees">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetCustomerFees" message="tns:INonPCIService_GetCustomerFees_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetCustomerFeesResponse" message="tns:INonPCIService_GetCustomerFees_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetCustomerList">
            <wsdl:input wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetCustomerList" message="tns:INonPCIService_GetCustomerList_InputMessage"/>
            <wsdl:output wsaw:Action="https://px.ezidebit.com.au/INonPCIService/GetCustomerListResponse" message="tns:INonPCIService_GetCustomerList_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:service name="NonPCIService">
        <wsdl:port name="BasicHttpBinding_INonPCIService" binding="i0:BasicHttpBinding_INonPCIService">
            <soap:address location="https://api.demo.ezidebit.com.au/v3-5/nonpci"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>